{% extends 'base.html' %}

{% block content %}
<div id="content" class="max-w-6xl mx-auto mt-12 p-6">

    <!-- Заголовок -->
    <h1 class="text-center text-5xl font-extrabold mb-10 text-gray-800">
        Поиск
    </h1>
    <div class="bg-white p-8 rounded-2xl shadow-lg border border-gray-200">
                
        <div class="flex items-center justify-center relative mb-8">
            <a onclick="window.history.back()"
                class="absolute left-0 flex items-center gap-2 bg-white border border-gray-300 rounded-lg px-4 py-2 text-gray-800 shadow hover:bg-gray-100 hover:scale-[1.02] transition cursor-pointer">
                <svg class="w-5 h-5" fill="none" stroke="currentColor" stroke-width="2.5" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7"/>
                </svg>
                <span class="font-medium">Назад</span>
            </a>
            
            <h2 class="text-2xl font-semibold text-gray-700 text-center">
                Поисковое слово: {{search_query|default:"Не указано"}}
            </h2>
        </div>

        <!-- Поисковая строка -->
        <div class="flex gap-4 mb-8">
            <form action="" method="post" class="w-full flex">{% csrf_token %}
                {{ form.name }}
                <button type="submit" class="btn btn-accent ml-2 px-8 text-white font-bold text-lg">
                    Найти
                </button>
            </form>

        </div>

        <!-- Результаты поиска -->
        {% if vacancies %}
        <div class="flex justify-center items-center p-6 bg-white rounded-xl border border-green-300 shadow-sm mb-6">
            <h1 class="text-3xl font-bold text-green-700 text-center tracking-wide">
                Поиск по запросу: {{ search_query.name }}
            </h1>
        </div>
        
        
        <div class="flex items-center justify-between p-5 bg-slate-50 rounded-xl border border-gray-400">
            <div class="flex gap-10 text-2xl text-gray-700">
                <p><span class="font-bold"></span> 
                    Всего: {{ vacancies.count }} вакансий
                </p>
                <p><span class="font-bold">Статистика:</span> доступна</p>
            </div>
            <a href="{% url 'hh_app:statistics' search_query %}" target="_blank" class="btn btn-outline btn-accent text-lg">
                Подробнее
            </a>
        </div>
        {% endif %}

    </div>
</div>

{% endblock content %}
